body{
  margin:0;
  padding:0;
}
.app {
  background-color: rgb(121, 202, 240);
  transition: background-color 1s ease-in;
  flex-direction: column;
  display: flex;
  align-items: center; 
}
   div  .SearchContainer{
     background-color: rgb(93, 174, 240);
   }
  #bbb{
    padding: 0.5rem;
    background-color: rgb(176, 99, 228);
   }
   .button {
    background-color: rgb(121, 202, 240);
    border: none;
    padding: 1rem;
  }
  #input-name{
  border: none;
  background: transparent;
  margin:2rem 1rem 2rem 3rem;
  border-bottom:1px solid black

  }
  #input-name:focus {
    outline: none;
  }

